# An√°lisis Exploratorio de los Datos üìÑ

Se tienen 2 tipos de documentos:

1. Inscritos al evento
2. Asistencias de los usuarios al evento

**Objetivos**

* Realizar una extracci√≥n, transformaci√≥n de un conjunto de datos ya listos para an√°lisis
* Realizar mediante gr√°ficos an√°lisis de valor de los datos

**Extracci√≥n de los datos**

Para este apartado se realiza un cargue de los archivos csv para poder transformarlos (limpiarlos)

In [55]:
# Se importan librer√≠as a utilizar
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

In [56]:
import warnings

# Ignorar todas las advertencias de tipo SettingWithCopyWarning
warnings.filterwarnings("ignore")

In [57]:
# Se importan los archivos
registro_datos = pd.read_csv("../data/Registro_Evento.csv")

In [58]:
evento_1 = pd.read_csv("../data/2023-09-06 09_33.csv",sep=";")
evento_2 = pd.read_csv("../data/2023-09-08 09_30.csv",sep=",")
evento_3 = pd.read_csv("../data/2023-09-13 09_50.csv",sep=",")
evento_4 = pd.read_csv("../data/2023-09-15 09_43.csv",sep=",")
evento_5 = pd.read_csv("../data/2023-09-20 09_44.csv",sep=",")
evento_6 = pd.read_csv("../data/2023-09-22 09_28.csv",sep=",")
evento_7 = pd.read_csv("../data/2023-09-29 09_50.csv",sep=",")
evento_8 = pd.read_csv("../data/2023-10-04 09_44.csv",sep=",")
evento_9 = pd.read_csv("../data/2023-10-05 09_38.csv",sep=",")

## Limpieza de los archivos üßπ

In [59]:
registro_datos.isna().sum()

Nombre                                  7
Correo institucional (@uptc.edu.co)     0
Programa Acad√©mico                      1
Asignatura                             28
dtype: int64

In [60]:
registro_datos.shape

(141, 4)

In [61]:
registro_datos[registro_datos["Nombre"].isna()]

,Nombre,Correo institucional (@uptc.edu.co),Programa Acad√©mico,Asignatura
52,NaN,ingrid.ortiz05@uptc.edu.co,Docente,NaN
54,NaN,jaraquesoler@gmail.com,Docente,NaN
119,NaN,santiago.rodriguez04@uptc.edu.co,NaN,NaN
136,NaN,cristhian.moreno@uptc.edu.co,Ingenier√≠a Electr√≥nica,Telem√°tica
137,NaN,juan.mora02@uptc.edu.co,Ingenier√≠a Electr√≥nica,Telem√°tica
138,NaN,anderson.carvajal@uptc.edu.co,Ingenier√≠a Electr√≥nica,Telem√°tica
139,NaN,luis.pulido01@uptc.edu.co,Ingenier√≠a Electr√≥nica,Telem√°tica

In [62]:
import re
pattern = re.compile('[a-z]+') # patr√≥n a utilizar

In [63]:
# descompongo el correo y asigno nombre y apellido al campo de nombre donde existan NaNs
registro_datos["Nombre"].fillna(registro_datos["Correo institucional (@uptc.edu.co)"].apply(lambda x: " ".join(pattern.findall(x.split("@")[0]))),inplace=True)
registro_datos[registro_datos["Nombre"].isna()]

Empty DataFrame
Columns: [Nombre, Correo institucional (@uptc.edu.co), Programa Acad√©mico, Asignatura]
Index: []

In [64]:
# Verificaci√≥n
registro_datos.iloc[136:140]

,Nombre,Correo institucional (@uptc.edu.co),Programa Acad√©mico,Asignatura
136,cristhian moreno,cristhian.moreno@uptc.edu.co,Ingenier√≠a Electr√≥nica,Telem√°tica
137,juan mora,juan.mora02@uptc.edu.co,Ingenier√≠a Electr√≥nica,Telem√°tica
138,anderson carvajal,anderson.carvajal@uptc.edu.co,Ingenier√≠a Electr√≥nica,Telem√°tica
139,luis pulido,luis.pulido01@uptc.edu.co,Ingenier√≠a Electr√≥nica,Telem√°tica

In [65]:
registro_datos[registro_datos["Programa Acad√©mico"].isna()]

,Nombre,Correo institucional (@uptc.edu.co),Programa Acad√©mico,Asignatura
119,santiago rodriguez,santiago.rodriguez04@uptc.edu.co,NaN,NaN

In [66]:
# Se revisan valores unicos para ver si existe algun patron
registro_datos["Asignatura"][registro_datos["Programa Acad√©mico"]=="Ingenier√≠a de Sistemas y Computaci√≥n"].unique()

array(['Electiva III:Gesti√≥n de redes',
       'Semillero Telematics, Ciberseguridad - Gesti√≥n de redes', nan,
       'Comunicaciones', 'comunicaciones', 'Transmision de Datos',
       'Arquitectura de computadores ', 'Transmisi√≥n de datos',
       'Transmisi√≥n de datos ',
       'Electiva III - Semillero Telematics Seguridad',
       'Transmision de datos',
       'Comunicaciones y Investigaci√≥n de operaciones ',
       'TRANSMISI√ìN DE DATOS', 'Transmisi√≥n de Datos',
       'TRANSMISION DE DATOS', 'Matem√°ticas discretas',
       'Comunicaciones, Investigaci√≥n de operaciones', 'Redes de datos',
       'Inteligencia computacional', 'Comunicaciones ',
       'Arquitectura de Computadores', 'Trasmisi√≥n de datos',
       'Comunicaciones e Investigaci√≥n de Operaciones', 'COMUNICACI√ìNES',
       'transmisiones ', 'Comunicaciones - Investigacion de operaciones',
       'Gesti√≥n de redes', 'Electiva III', 'Sistemas Operativos ',
       'Transmisi√≥n de datos - Seminario de grado', 'Gesti√≥n de redes ',
       'Transmisi√≥n', 'Investigaci√≥n de Operaciones / Comunicaciones',
       'Investigaci√≥n de operaciones ', 'Comuicaciones',
       'Electiva III (Auditor√≠a de redes)', 'Transmisi√≥n ',
       'gestion de redes ', 'Semillero Seguridad telematics ', '   '],
      dtype=object)

In [67]:
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.upper()
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.strip()

In [68]:
# Se revisan valores unicos para ver si existe algun patron
registro_datos["Asignatura"].unique()

array(['ELECTIVA III:GESTI√ìN DE REDES',
       'SEMILLERO TELEMATICS, CIBERSEGURIDAD - GESTI√ìN DE REDES', nan,
       'COMUNICACIONES 2', 'COMUNICACIONES II', 'COMUNICACIONES',
       'TRANSMISION DE DATOS', 'ARQUITECTURA DE COMPUTADORES',
       'TRANSMISI√ìN DE DATOS', 'TELEMATICA', 'TELEM√ÅTICA',
       'ELECTIVA III - SEMILLERO TELEMATICS SEGURIDAD',
       'COMUNICACIONES Y INVESTIGACI√ìN DE OPERACIONES',
       'MATEM√ÅTICAS DISCRETAS',
       'COMUNICACIONES, INVESTIGACI√ìN DE OPERACIONES', 'REDES DE DATOS',
       'INTELIGENCIA COMPUTACIONAL', 'COMUNICACIONES LL',
       'TRASMISI√ìN DE DATOS',
       'COMUNICACIONES E INVESTIGACI√ìN DE OPERACIONES', 'COMUNICACI√ìNES',
       'TRANSMISIONES', 'COMUNICACIONES - INVESTIGACION DE OPERACIONES',
       'GESTI√ìN DE REDES', 'ELECTIVA III', 'SISTEMAS OPERATIVOS',
       'TRANSMISI√ìN DE DATOS - SEMINARIO DE GRADO', 'TRANSMISI√ìN',
       'INVESTIGACI√ìN DE OPERACIONES / COMUNICACIONES',
       'INVESTIGACI√ìN DE OPERACIONES', 'COMUICACIONES',
       'ELECTIVA III (AUDITOR√çA DE REDES)', 'GESTION DE REDES',
       'SEMILLERO SEGURIDAD TELEMATICS', ''], dtype=object)

In [69]:
# Reemplazo asignaturas
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^TRANS.*','Transmisi√≥n de Datos',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^TRAS.*','Transmisi√≥n de Datos',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^TELEM.*','Telem√°tica',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^COMUN.*2$','Comunicaciones II',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^COMUN.*','Comunicaciones',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^COMU.*','Comunicaciones',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^INVEST.*','Comunicaciones',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^ELEC.*','Electiva III',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^SEMILL.*','Electiva III',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^GEST.*','Electiva III',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^ARQ.*','Arquitectura de Computadores',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^MAT.*','Matem√°ticas discretas',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^REDES.*','Redes de datos',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^INT.*','Inteligencia Computacional',regex=True)
registro_datos["Asignatura"] = registro_datos["Asignatura"].str.replace(r'^SISTEMAS OPERATIVOS.*','Sistemas Operativos',regex=True)

In [70]:
registro_datos["Asignatura"].unique()

array(['Electiva III', nan, 'Comunicaciones II', 'Comunicaciones',
       'Transmisi√≥n de Datos', 'Arquitectura de Computadores',
       'Telem√°tica', 'Matem√°ticas discretas', 'Redes de datos',
       'Inteligencia Computacional', 'Sistemas Operativos', ''],
      dtype=object)

In [71]:
# Se asigna en Asignatura para campos con Docente,Gobernaci√≥n y Administrativo el campo de profesionales
programas_profesionales = ["Gobernaci√≥n de Boyac√°","Docente","Administrativo"]
registro_datos["Asignatura"][registro_datos["Programa Acad√©mico"].isin(programas_profesionales)] = "Profesionales"

In [72]:
registro_datos["Asignatura"].unique()

array(['Electiva III', nan, 'Comunicaciones II', 'Comunicaciones',
       'Transmisi√≥n de Datos', 'Arquitectura de Computadores',
       'Telem√°tica', 'Profesionales', 'Matem√°ticas discretas',
       'Redes de datos', 'Inteligencia Computacional',
       'Sistemas Operativos', ''], dtype=object)

In [73]:
# Verificaci√≥n
registro_datos[registro_datos["Programa Acad√©mico"].isin(programas_profesionales)]

,Nombre,Correo institucional (@uptc.edu.co),Programa Acad√©mico,Asignatura
44,Fredy Andr√©s Murcia Currea,fandresmc97@gmail.com,Gobernaci√≥n de Boyac√°,Profesionales
46,Frey Alfonso Santamar√≠a Buitrago,Frey.santamaria@uptc.edu.co,Docente,Profesionales
51,FABIO ALONSO ARIAS ADARME,ingfaaa@gmail.com,Gobernaci√≥n de Boyac√°,Profesionales
52,ingrid ortiz,ingrid.ortiz05@uptc.edu.co,Docente,Profesionales
53,Jairo Alonso Mesa Lara,jairo.mesa@uptc.edu.co,Docente,Profesionales
54,jaraquesoler,jaraquesoler@gmail.com,Docente,Profesionales
55,Jeffer Ivan Figueroa Casas,jefferfigueroacasas@gmail.com,Gobernaci√≥n de Boyac√°,Profesionales
59,Jenny Amparo Rosales Agredo,jenny.rosales@uptc.edu.co,Docente,Profesionales
91,LEONARDO BERNAL ZAMORA,leonardo.bernal01@uptc.edu.co,Administrativo,Profesionales
97,Luz Santamar√≠a Granados,luz.santamaria@uptc.edu.co,Docente,Profesionales
105,Miguel Angel Mendoza Moreno,miguel.mendoza@uptc.edu.co,Docente,Profesionales
112,Oscar Fernando Vera Cely,oscar.vera@uptc.edu.co,Docente,Profesionales
115,Natalia rojas sepulveda,rojasnatha21@gmail.com,Gobernaci√≥n de Boyac√°,Profesionales
128,Jorge Mojica,telematica@boyaca.gov.co,Gobernaci√≥n de Boyac√°,Profesionales

In [74]:
#Cuantos nulos quedan??
registro_datos.isna().sum()

Nombre                                  0
Correo institucional (@uptc.edu.co)     0
Programa Acad√©mico                      1
Asignatura                             14
dtype: int64

In [75]:
registro_datos[registro_datos["Asignatura"].isna()]

,Nombre,Correo institucional (@uptc.edu.co),Programa Acad√©mico,Asignatura
2,Andr√©s Leonardo Maldonado S√°nchez,andres.maldonado02@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN
4,Andr√©s Camilo Silva Landinez,andres.silva07@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN
10,Brayan Juli√°n Barrantes Medina,brayan.barrantes@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN
25,David Leonardo Rojas Leon,David.rojas@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN
26,Diana Marcela Pinz√≥n Reyes,Diana.pinzon02@uptc.edu.co,Otro programa acad√©mico,NaN
27,Diego fernando alba novoa,diego.alba02@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN
42,Esteban Nicol√°s Pe√±a Coronado,esteban.pena01@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN
67,Johan Sebastian Sierra Torres,johan.sierra@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN
74,Joseph Sebastian Saavedra Rivera,joseph.saavedra@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN
85,JULIAN CAMILO REYES URIBE,julian.reyes04@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN
86,Juli√°n David Rodr√≠guez Camargo,julian.rodriguez21@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN
119,santiago rodriguez,santiago.rodriguez04@uptc.edu.co,NaN,NaN
124,Sebastian Felipe Fonseca Hurtado,sebastian.sanchez02@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN
133,Yamid Alonso Ni√±o Murcia,yamid.nino02@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN

In [76]:
registro_datos["estado"] = np.where(registro_datos["Asignatura"].isna(),"Falta informaci√≥n","Validados")

In [77]:
registro_datos["estado"].loc[registro_datos["Correo institucional (@uptc.edu.co)"]=="william.cely05@uptc.edu.co"]
registro_datos.iloc[130,4]="Falta informaci√≥n"

In [78]:
# Validaci√≥n
registro_datos[registro_datos["Asignatura"].isna()]

,Nombre,Correo institucional (@uptc.edu.co),Programa Acad√©mico,Asignatura,estado
2,Andr√©s Leonardo Maldonado S√°nchez,andres.maldonado02@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n
4,Andr√©s Camilo Silva Landinez,andres.silva07@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n
10,Brayan Juli√°n Barrantes Medina,brayan.barrantes@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n
25,David Leonardo Rojas Leon,David.rojas@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n
26,Diana Marcela Pinz√≥n Reyes,Diana.pinzon02@uptc.edu.co,Otro programa acad√©mico,NaN,Falta informaci√≥n
27,Diego fernando alba novoa,diego.alba02@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n
42,Esteban Nicol√°s Pe√±a Coronado,esteban.pena01@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n
67,Johan Sebastian Sierra Torres,johan.sierra@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n
74,Joseph Sebastian Saavedra Rivera,joseph.saavedra@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n
85,JULIAN CAMILO REYES URIBE,julian.reyes04@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n
86,Juli√°n David Rodr√≠guez Camargo,julian.rodriguez21@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n
119,santiago rodriguez,santiago.rodriguez04@uptc.edu.co,NaN,NaN,Falta informaci√≥n
124,Sebastian Felipe Fonseca Hurtado,sebastian.sanchez02@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n
133,Yamid Alonso Ni√±o Murcia,yamid.nino02@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n

In [79]:
# Limpio problemas con mayusculas y minusculas
registro_datos["Nombre"] = registro_datos.Nombre.str.title()

In [80]:
# Limpio espacios
registro_datos["Nombre"] = registro_datos["Nombre"].str.strip()
registro_datos.iloc[0]

Nombre                                       Anderson Daniel Barreto Sierra
Correo institucional (@uptc.edu.co)          anderson.barreto01@uptc.edu.co
Programa Acad√©mico                     Ingenier√≠a de Sistemas y Computaci√≥n
Asignatura                                                     Electiva III
estado                                                            Validados
Name: 0, dtype: object

In [81]:
# Genero columna en comun con el registro al evento
evento_1["NombreCompleto"] = (evento_1["Nombre"].fillna("")+" "+evento_1["Apellido"].fillna("")).str.strip()
evento_2["NombreCompleto"] = (evento_2["Nombre"].fillna("")+" "+evento_2["Apellido"].fillna("")).str.strip()
evento_3["NombreCompleto"] = (evento_3["Nombre"].fillna("")+" "+evento_3["Apellido"].fillna("")).str.strip()
evento_4["NombreCompleto"] = (evento_4["Nombre"].fillna("")+" "+evento_4["Apellido"].fillna("")).str.strip()
evento_5["NombreCompleto"] = (evento_5["Nombre"].fillna("")+" "+evento_5["Apellido"].fillna("")).str.strip()
evento_6["NombreCompleto"] = (evento_6["Nombre"].fillna("")+" "+evento_6["Apellido"].fillna("")).str.strip()
evento_7["NombreCompleto"] = (evento_7["Nombre"].fillna("")+" "+evento_7["Apellido"].fillna("")).str.strip()
evento_8["NombreCompleto"] = (evento_8["Nombre"].fillna("")+" "+evento_8["Apellido"].fillna("")).str.strip()
evento_9["NombreCompleto"] = (evento_9["Nombre"].fillna("")+" "+evento_9["Apellido"].fillna("")).str.strip()

In [82]:
# Elimino espacios
evento_1["NombreCompleto"] = evento_1["NombreCompleto"].str.strip()
evento_2["NombreCompleto"] = evento_2["NombreCompleto"].str.strip()
evento_3["NombreCompleto"] = evento_3["NombreCompleto"].str.strip()
evento_4["NombreCompleto"] = evento_4["NombreCompleto"].str.strip()
evento_5["NombreCompleto"] = evento_5["NombreCompleto"].str.strip()
evento_6["NombreCompleto"] = evento_6["NombreCompleto"].str.strip()
evento_7["NombreCompleto"] = evento_7["NombreCompleto"].str.strip()
evento_8["NombreCompleto"] = evento_8["NombreCompleto"].str.strip()
evento_9["NombreCompleto"] = evento_9["NombreCompleto"].str.strip()

In [83]:
# Se realiza una busqueda de correos no institucionales
uptc = re.compile('.*@uptc\.edu\.co$')

In [84]:
# Elimino espacios
registro_datos["Correo institucional (@uptc.edu.co)"]=registro_datos["Correo institucional (@uptc.edu.co)"].str.strip()

In [85]:
# Procedo a revisar cada uno de los integrantes en las asistencias de los eventos para asi arreglarlos
registro_datos[~registro_datos["Correo institucional (@uptc.edu.co)"].str.contains(uptc)]

,Nombre,Correo institucional (@uptc.edu.co),Programa Acad√©mico,Asignatura,estado
44,Fredy Andr√©s Murcia Currea,fandresmc97@gmail.com,Gobernaci√≥n de Boyac√°,Profesionales,Validados
51,Fabio Alonso Arias Adarme,ingfaaa@gmail.com,Gobernaci√≥n de Boyac√°,Profesionales,Validados
54,Jaraquesoler,jaraquesoler@gmail.com,Docente,Profesionales,Validados
55,Jeffer Ivan Figueroa Casas,jefferfigueroacasas@gmail.com,Gobernaci√≥n de Boyac√°,Profesionales,Validados
115,Natalia Rojas Sepulveda,rojasnatha21@gmail.com,Gobernaci√≥n de Boyac√°,Profesionales,Validados
128,Jorge Mojica,telematica@boyaca.gov.co,Gobernaci√≥n de Boyac√°,Profesionales,Validados

In [86]:
#primero arreglo los gmail
nombre_gmail = ["Fredy Andr√©s Murcia Currea","Fabio Alonso Arias Adarme",
                "Jaraquesoler","Jeffer Ivan Figueroa Casas","Natalia Rojas Sepulveda","Jorge Mojica"]
gmail_correos = re.compile('.*@gmail.com$')

In [87]:
# corrijo problemas con mayusculas y minusculas
evento_1["NombreCompleto"] = evento_1["NombreCompleto"].str.title()
evento_2["NombreCompleto"] = evento_2["NombreCompleto"].str.title()
evento_3["NombreCompleto"] = evento_3["NombreCompleto"].str.title()
evento_4["NombreCompleto"] = evento_4["NombreCompleto"].str.title()
evento_5["NombreCompleto"] = evento_5["NombreCompleto"].str.title()
evento_6["NombreCompleto"] = evento_6["NombreCompleto"].str.title()
evento_7["NombreCompleto"] = evento_7["NombreCompleto"].str.title()
evento_8["NombreCompleto"] = evento_8["NombreCompleto"].str.title()
evento_9["NombreCompleto"] = evento_9["NombreCompleto"].str.title()

In [88]:
def encontrar_usuario(dataframe):
    for nombres_gmail in nombre_gmail:
        nombres = nombres_gmail.split()
        for nombre in nombres:
            try:
                for i,data in dataframe.iterrows():
                    if nombre in dataframe["NombreCompleto"].iloc[i]:
                        print(f"Encontrado en {i} el nombre {nombre}")
            except KeyError:
                pass

In [89]:
# Revisar si algun usuario asisti√≥ al evento el d√≠a 6
encontrar_usuario(evento_1)

Encontrado en 3 el nombre Andr√©s
Encontrado en 28 el nombre Andr√©s
Encontrado en 59 el nombre Andr√©s
Encontrado en 119 el nombre Andr√©s
Encontrado en 6 el nombre Fabio
Encontrado en 2 el nombre Alonso
Encontrado en 6 el nombre Alonso
Encontrado en 6 el nombre Arias
Encontrado en 7 el nombre Arias
Encontrado en 6 el nombre Adarme
Encontrado en 45 el nombre Jeffer
Encontrado en 45 el nombre Figueroa
Encontrado en 45 el nombre Casas
Encontrado en 0 el nombre Natalia
Encontrado en 91 el nombre Natalia
Encontrado en 91 el nombre Rojas
Encontrado en 124 el nombre Rojas
Encontrado en 64 el nombre Jorge
Encontrado en 63 el nombre Mojica
Encontrado en 64 el nombre Mojica

In [90]:
# Revisando nombres completos de los encontrados
print(nombre_gmail)
evento_1.iloc[64]

['Fredy Andr√©s Murcia Currea', 'Fabio Alonso Arias Adarme', 'Jaraquesoler', 'Jeffer Ivan Figueroa Casas', 'Natalia Rojas Sepulveda', 'Jorge Mojica']

Nombre                                     jorge
Apellido                                  mojica
Correo electr√≥nico       jmoj***********@***.com
Duraci√≥n                              1 h 43 min
Hora a la que se uni√≥                      10:23
Hora a la que sali√≥                        12:06
NombreCompleto                      Jorge Mojica
Name: 64, dtype: object

In [91]:
# Se corrige a Fabio Alonso Arias Adarme
registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]=="Fabio Alonso Arias Adarme"].values[0]

'ingfaaa@gmail.com'

In [92]:
evento_1.iloc[6,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]=="Fabio Alonso Arias Adarme"].values[0]
# Se verifica
evento_1.iloc[6,2]

'ingfaaa@gmail.com'

In [93]:
# Se corrige a Jeffer
evento_1.iloc[45,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[3]].values[0]
evento_1.iloc[45,2]

'jefferfigueroacasas@gmail.com'

In [94]:
# Se corrige a Natalia
evento_1.iloc[91,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[4]].values[0]
evento_1.iloc[91,2]

'rojasnatha21@gmail.com'

In [95]:
# Se corrige a Jorge
evento_1.iloc[64,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[-1]].values[0]
evento_1.iloc[64,2]

'telematica@boyaca.gov.co'

In [96]:
# Revisar si algun usuario asisti√≥ al evento el d√≠a 8
encontrar_usuario(evento_2)

Encontrado en 1 el nombre Andr√©s

Encontrado en 55 el nombre Andr√©s
Encontrado en 113 el nombre Andr√©s
Encontrado en 64 el nombre Murcia
Encontrado en 4 el nombre Fabio
Encontrado en 4 el nombre Alonso
Encontrado en 64 el nombre Alonso
Encontrado en 4 el nombre Arias
Encontrado en 5 el nombre Arias
Encontrado en 4 el nombre Adarme
Encontrado en 40 el nombre Jeffer
Encontrado en 84 el nombre Ivan
Encontrado en 40 el nombre Figueroa
Encontrado en 40 el nombre Casas
Encontrado en 0 el nombre Natalia
Encontrado en 86 el nombre Natalia
Encontrado en 83 el nombre Rojas
Encontrado en 84 el nombre Rojas
Encontrado en 85 el nombre Rojas
Encontrado en 86 el nombre Rojas
Encontrado en 117 el nombre Rojas
Encontrado en 61 el nombre Jorge
Encontrado en 60 el nombre Mojica
Encontrado en 61 el nombre Mojica

In [97]:
# Revisando nombres completos de los encontrados
print(nombre_gmail)
evento_2.iloc[61]

['Fredy Andr√©s Murcia Currea', 'Fabio Alonso Arias Adarme', 'Jaraquesoler', 'Jeffer Ivan Figueroa Casas', 'Natalia Rojas Sepulveda', 'Jorge Mojica']

Nombre                                     jorge
Apellido                                  mojica
Correo electr√≥nico       jmoj***********@***.com
Duraci√≥n                                  51 min
Hora a la que se uni√≥                      10:53
Hora a la que sali√≥                        11:45
NombreCompleto                      Jorge Mojica
Name: 61, dtype: object

In [98]:
# Se corrige a Fabio
evento_2.iloc[4,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[1]].values[0]
evento_2.iloc[4,2]

'ingfaaa@gmail.com'

In [99]:
# Se corrige a Jeffer
evento_2.iloc[40,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[3]].values[0]
evento_2.iloc[40,2]

'jefferfigueroacasas@gmail.com'

In [100]:
# Se corrige a Natalia
evento_2.iloc[86,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[4]].values[0]
evento_2.iloc[86,2]

'rojasnatha21@gmail.com'

In [101]:
evento_2.iloc[61,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[-1]].values[0]
evento_2.iloc[61,2]

'telematica@boyaca.gov.co'

In [102]:
# Revisar si algun usuario asisti√≥ al evento el d√≠a 13
encontrar_usuario(evento_3)

Encontrado en 1 el nombre Andr√©s
Encontrado en 96 el nombre Andr√©s
Encontrado en 56 el nombre Murcia
Encontrado en 3 el nombre Fabio
Encontrado en 3 el nombre Alonso
Encontrado en 56 el nombre Alonso
Encontrado en 3 el nombre Arias
Encontrado en 4 el nombre Arias
Encontrado en 3 el nombre Adarme
Encontrado en 33 el nombre Jeffer
Encontrado en 73 el nombre Ivan
Encontrado en 33 el nombre Figueroa
Encontrado en 33 el nombre Casas
Encontrado en 75 el nombre Natalia
Encontrado en 72 el nombre Rojas
Encontrado en 73 el nombre Rojas
Encontrado en 74 el nombre Rojas
Encontrado en 75 el nombre Rojas
Encontrado en 100 el nombre Rojas
Encontrado en 7 el nombre Jorge
Encontrado en 52 el nombre Jorge
Encontrado en 51 el nombre Mojica
Encontrado en 52 el nombre Mojica

In [107]:
print(nombre_gmail)
evento_3.iloc[52]

['Fredy Andr√©s Murcia Currea', 'Fabio Alonso Arias Adarme', 'Jaraquesoler', 'Jeffer Ivan Figueroa Casas', 'Natalia Rojas Sepulveda', 'Jorge Mojica']

Nombre                                     jorge
Apellido                                  mojica
Correo electr√≥nico       jmoj***********@***.com
Duraci√≥n                              1 h 35 min
Hora a la que se uni√≥                      10:03
Hora a la que sali√≥                        11:38
NombreCompleto                      Jorge Mojica
Name: 52, dtype: object

In [110]:
# Se corrigen los nombres
evento_3.iloc[3,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[1]].values[0]
evento_3.iloc[33,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[3]].values[0]
evento_3.iloc[75,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[4]].values[0]
evento_3.iloc[52,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[-1]].values[0]

In [109]:
# Revisar si algun usuario asisti√≥ al evento el d√≠a 15
encontrar_usuario(evento_4)

Encontrado en 3 el nombre Fabio
Encontrado en 0 el nombre Alonso
Encontrado en 3 el nombre Alonso
Encontrado en 3 el nombre Arias
Encontrado en 4 el nombre Arias
Encontrado en 3 el nombre Adarme
Encontrado en 62 el nombre Natalia
Encontrado en 60 el nombre Rojas
Encontrado en 61 el nombre Rojas
Encontrado en 62 el nombre Rojas
Encontrado en 84 el nombre Rojas

In [113]:
print(nombre_gmail)
evento_4.iloc[62]

['Fredy Andr√©s Murcia Currea', 'Fabio Alonso Arias Adarme', 'Jaraquesoler', 'Jeffer Ivan Figueroa Casas', 'Natalia Rojas Sepulveda', 'Jorge Mojica']

Nombre                                   Natalia
Apellido                         Rojas Sep√∫lveda
Correo electr√≥nico          roja********@***.com
Duraci√≥n                                  33 min
Hora a la que se uni√≥                      10:14
Hora a la que sali√≥                        10:47
NombreCompleto           Natalia Rojas Sep√∫lveda
Name: 62, dtype: object

In [114]:
# Se corrige a Fabio
evento_4.iloc[3,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[1]].values[0]
evento_4.iloc[62,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[4]].values[0]
evento_4.iloc[3,2]

'ingfaaa@gmail.com'

In [118]:
# Revisar si algun usuario asisti√≥ al evento el d√≠a 20
encontrar_usuario(evento_5)

Encontrado en 2 el nombre Andr√©s
Encontrado en 4 el nombre Fabio
Encontrado en 0 el nombre Alonso
Encontrado en 4 el nombre Alonso
Encontrado en 4 el nombre Arias
Encontrado en 5 el nombre Arias
Encontrado en 4 el nombre Adarme
Encontrado en 29 el nombre Jeffer
Encontrado en 29 el nombre Figueroa
Encontrado en 29 el nombre Casas
Encontrado en 59 el nombre Natalia
Encontrado en 58 el nombre Rojas
Encontrado en 59 el nombre Rojas
Encontrado en 81 el nombre Rojas

In [121]:
print(nombre_gmail)
evento_5.iloc[59]

['Fredy Andr√©s Murcia Currea', 'Fabio Alonso Arias Adarme', 'Jaraquesoler', 'Jeffer Ivan Figueroa Casas', 'Natalia Rojas Sepulveda', 'Jorge Mojica']

Nombre                                   Natalia
Apellido                         Rojas Sep√∫lveda
Correo electr√≥nico          roja********@***.com
Duraci√≥n                               1 h 6 min
Hora a la que se uni√≥                       9:55
Hora a la que sali√≥                        11:02
NombreCompleto           Natalia Rojas Sep√∫lveda
Name: 59, dtype: object

In [122]:
# Se corrigen los nombres
evento_4.iloc[4,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[1]].values[0]
evento_4.iloc[29,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[3]].values[0]
evento_4.iloc[59,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[4]].values[0]

In [123]:
# Revisar si algun usuario asisti√≥ al evento el d√≠a 22
encontrar_usuario(evento_6)

Encontrado en 1 el nombre Andr√©s
Encontrado en 78 el nombre Andr√©s
Encontrado en 0 el nombre Alonso
Encontrado en 3 el nombre Arias
Encontrado en 59 el nombre Rojas
Encontrado en 60 el nombre Rojas
Encontrado en 81 el nombre Rojas

In [132]:
print(nombre_gmail)
evento_6.iloc[3]

['Fredy Andr√©s Murcia Currea', 'Fabio Alonso Arias Adarme', 'Jaraquesoler', 'Jeffer Ivan Figueroa Casas', 'Natalia Rojas Sepulveda', 'Jorge Mojica']

Nombre                                SANTIAGO ANDRES
Apellido                                  ARIAS REYES
Correo electr√≥nico       santiago.arias01@uptc.edu.co
Duraci√≥n                                          2 h
Hora a la que se uni√≥                            9:56
Hora a la que sali√≥                             11:55
NombreCompleto            Santiago Andres Arias Reyes
Name: 3, dtype: object

In [133]:
# Revisar si algun usuario asisti√≥ al evento el d√≠a 29
encontrar_usuario(evento_7)

Encontrado en 2 el nombre Andr√©s
Encontrado en 0 el nombre Alonso
Encontrado en 5 el nombre Arias
Encontrado en 51 el nombre Rojas

In [136]:
print(nombre_gmail)
evento_7.iloc[51]

['Fredy Andr√©s Murcia Currea', 'Fabio Alonso Arias Adarme', 'Jaraquesoler', 'Jeffer Ivan Figueroa Casas', 'Natalia Rojas Sepulveda', 'Jorge Mojica']

Nombre                              DAVID LEONARDO
Apellido                                ROJAS LE√ìN
Correo electr√≥nico         david.rojas@uptc.edu.co
Duraci√≥n                                1 h 28 min
Hora a la que se uni√≥                        10:19
Hora a la que sali√≥                          11:48
NombreCompleto           David Leonardo Rojas Le√≥n
Name: 51, dtype: object

In [137]:
# Revisar si algun usuario asisti√≥ al evento el d√≠a 4 de octubre
encontrar_usuario(evento_8)

Encontrado en 55 el nombre Andr√©s
Encontrado en 0 el nombre Alonso
Encontrado en 43 el nombre Natalia
Encontrado en 43 el nombre Rojas
Encontrado en 57 el nombre Rojas

In [138]:
print(nombre_gmail)
evento_8.iloc[43]

['Fredy Andr√©s Murcia Currea', 'Fabio Alonso Arias Adarme', 'Jaraquesoler', 'Jeffer Ivan Figueroa Casas', 'Natalia Rojas Sepulveda', 'Jorge Mojica']

Nombre                                   Natalia
Apellido                         Rojas Sep√∫lveda
Correo electr√≥nico          roja********@***.com
Duraci√≥n                                  26 min
Hora a la que se uni√≥                      10:01
Hora a la que sali√≥                        10:50
NombreCompleto           Natalia Rojas Sep√∫lveda
Name: 43, dtype: object

In [139]:
evento_8.iloc[43,2] = registro_datos["Correo institucional (@uptc.edu.co)"][registro_datos["Nombre"]==nombre_gmail[4]].values[0]

In [141]:
# Revisar si algun usuario asisti√≥ al evento el d√≠a 5 de octubre
encontrar_usuario(evento_9)

In [142]:
def ajustar_correos(dataframe):
    mal_correo = re.compile('.*\*+@\*+.*')
    data = np.where(dataframe["Correo electr√≥nico"].apply(lambda x: mal_correo.search(str(x))),dataframe["Correo electr√≥nico"].index,"No")
    print(data)
    malos_correos = np.array([])
    for n in data:
        if n!="No":
            malos_correos = np.append(malos_correos,n)
    for idx in malos_correos:
        name = dataframe.iloc[int(idx), 0].split()[0]
        # Comprobar si "name" est√° en "registro_datos" antes de acceder a √©l
        if name in registro_datos["Primer Nombre"].values:
            correo = registro_datos.loc[registro_datos["Primer Nombre"] == name]["Correo institucional (@uptc.edu.co)"].values[0]
            dataframe.iloc[int(idx), 2] = correo
        else:
            print(f"No se encontr√≥ el nombre {name} en registro_datos")

In [143]:
evento_1["Nombre"] = evento_1["Nombre"].str.title()
evento_2["Nombre"] = evento_2["Nombre"].str.title()
evento_3["Nombre"] = evento_3["Nombre"].str.title()
evento_4["Nombre"] = evento_4["Nombre"].str.title()
evento_5["Nombre"] = evento_5["Nombre"].str.title()
evento_6["Nombre"] = evento_6["Nombre"].str.title()
evento_7["Nombre"] = evento_7["Nombre"].str.title()
evento_8["Nombre"] = evento_8["Nombre"].str.title()
evento_9["Nombre"] = evento_9["Nombre"].str.title()

In [144]:
solo_letras = re.compile('[a-zA-Z√°√©√≠√≥√∫√Å√â√ç√ì√ö√±√ë]+')
datos = registro_datos["Nombre"].str.split()
registro_datos["Primer Nombre"] = None
registro_datos["Primer Apellido"] = None
for i,nombre in enumerate(datos):
    if len(nombre)==4:
        nom1 = solo_letras.search(nombre[0])
        registro_datos["Primer Nombre"][i]=nom1.group()
        ap1 = solo_letras.search(nombre[2])
        registro_datos["Primer Apellido"][i]=ap1.group()
    elif len(nombre)==3 or len(nombre)==2:
        nom1 = solo_letras.search(nombre[0])
        registro_datos["Primer Nombre"][i]=nom1.group()
        ap1 = solo_letras.search(nombre[1])
        registro_datos["Primer Apellido"][i]=ap1.group()

In [145]:
ajustar_correos(evento_1)

['No' 'No' '2' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' '21' 'No' 'No' 'No' 'No' 'No' 'No' '28'
 'No' 'No' '31' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '42'
 'No' 'No' 'No' 'No' 'No' '48' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '68' 'No' 'No'
 'No' 'No' '73' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '83' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '111' 'No'
 'No' '114' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No']
No se encontr√≥ el nombre Felipe en registro_datos
No se encontr√≥ el nombre M√≥nica en registro_datos

In [62]:
pd.reset_option('display.max_rows')

In [146]:
evento_1.iloc[42]

Nombre                                Felipe
Apellido                             Escobar
Correo electr√≥nico       pipe*******@***.com
Duraci√≥n                          1 h 40 min
Hora a la que se uni√≥                  10:03
Hora a la que sali√≥                    12:06
NombreCompleto                Felipe Escobar
Name: 42, dtype: object

In [147]:
evento_1.iloc[42,2]="andres.escobar01@uptc.edu.co"

In [64]:
ajustar_correos(evento_2)

['No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '51' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '82' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '108' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No']
No se encontr√≥ el nombre Lorena en registro_datos
No se encontr√≥ el nombre Santigo en registro_datos

In [148]:
ajustar_correos(evento_3)

['No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' '16' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' '35' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '66' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '93' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No']
No se encontr√≥ el nombre Filyp en registro_datos
No se encontr√≥ el nombre M√≥nica en registro_datos

In [149]:
ajustar_correos(evento_4)

['No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' '15' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' '31' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' '43' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '55'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No']
No se encontr√≥ el nombre Filyp en registro_datos
No se encontr√≥ el nombre M√≥nica en registro_datos

In [150]:
ajustar_correos(evento_5)

['No' 'No' 'No' 'No' '4' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 '29' '30' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' '59' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '68' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' '76' 'No' 'No' 'No' 'No' 'No' 'No']
No se encontr√≥ el nombre Sandra en registro_datos

In [151]:
ajustar_correos(evento_6)

['No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '12' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '24' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '40' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No']
No se encontr√≥ el nombre Alejandro en registro_datos

In [152]:
ajustar_correos(evento_7)

['No' 'No' 'No' 'No' 'No' 'No' '6' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' '35' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' '48' '49' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No']
No se encontr√≥ el nombre M√≥nica en registro_datos
No se encontr√≥ el nombre Monica en registro_datos

In [153]:
ajustar_correos(evento_8)

['No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' '19' 'No' 'No' '22' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' '33' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 '42' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '53' 'No' 'No'
 'No' 'No']
No se encontr√≥ el nombre Sandra en registro_datos
No se encontr√≥ el nombre M√≥nica en registro_datos

In [154]:
ajustar_correos(evento_9)

['No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' '8' 'No' 'No' 'No' 'No' 'No' 'No'
 '15' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No']
No se encontr√≥ el nombre Edgar en registro_datos

In [155]:
# Identifico tipos de los datos
evento_1.dtypes, evento_2.dtypes, evento_3.dtypes, evento_4.dtypes, evento_5.dtypes, evento_6.dtypes, evento_7.dtypes, evento_8.dtypes, evento_9.dtypes

(Nombre                   object
 Apellido                 object
 Correo electr√≥nico       object
 Duraci√≥n                 object
 Hora a la que se uni√≥    object
 Hora a la que sali√≥      object
 NombreCompleto           object
 dtype: object,
 Nombre                   object
 Apellido                 object
 Correo electr√≥nico       object
 Duraci√≥n                 object
 Hora a la que se uni√≥    object
 Hora a la que sali√≥      object
 NombreCompleto           object
 dtype: object,
 Nombre                   object
 Apellido                 object
 Correo electr√≥nico       object
 Duraci√≥n                 object
 Hora a la que se uni√≥    object
 Hora a la que sali√≥      object
 NombreCompleto           object
 dtype: object,
 Nombre                   object
 Apellido                 object
 Correo electr√≥nico       object
 Duraci√≥n                 object
 Hora a la que se uni√≥    object
 Hora a la que sali√≥      object
 NombreCompleto           object
 dtype: object,
 Nombre                   object
 Apellido                 object
 Correo electr√≥nico       object
 Duraci√≥n                 object
 Hora a la que se uni√≥    object
 Hora a la que sali√≥      object
 NombreCompleto           object
 dtype: object,
 Nombre                   object
 Apellido                 object
 Correo electr√≥nico       object
 Duraci√≥n                 object
 Hora a la que se uni√≥    object
 Hora a la que sali√≥      object
 NombreCompleto           object
 dtype: object,
 Nombre                   object
 Apellido                 object
 Correo electr√≥nico       object
 Duraci√≥n                 object
 Hora a la que se uni√≥    object
 Hora a la que sali√≥      object
 NombreCompleto           object
 dtype: object,
 Nombre                   object
 Apellido                 object
 Correo electr√≥nico       object
 Duraci√≥n                 object
 Hora a la que se uni√≥    object
 Hora a la que sali√≥      object
 NombreCompleto           object
 dtype: object,
 Nombre                   object
 Apellido                 object
 Correo electr√≥nico       object
 Duraci√≥n                 object
 Hora a la que se uni√≥    object
 Hora a la que sali√≥      object
 NombreCompleto           object
 dtype: object)

In [156]:
def procesamiento(dataframe):
    # Se procesa duraci√≥n a minutos (Se maneja tiempo entero), hora a la que se uni√≥ y hora a la que sali√≥ a tiempo
    dataframe["Hora a la que se uni√≥"] = pd.to_datetime("2023-09-06 "+dataframe["Hora a la que se uni√≥"],format='%Y-%m-%d %H:%M')
    dataframe["Hora a la que sali√≥"] = pd.to_datetime("2023-09-06 "+dataframe["Hora a la que sali√≥"],format='%Y-%m-%d %H:%M')

    dataframe["duraci√≥n"] = (dataframe["Hora a la que sali√≥"]-dataframe["Hora a la que se uni√≥"]).dt.total_seconds()/60
    dataframe["duraci√≥n"] = dataframe["duraci√≥n"].astype(int)

    return dataframe

In [157]:
# Se procesa duraci√≥n a minutos (Se maneja tiempo entero), hora a la que se uni√≥ y hora a la que sali√≥ a tiempo
evento_1 = procesamiento(evento_1)
evento_2 = procesamiento(evento_2)
evento_3 = procesamiento(evento_3)
evento_4 = procesamiento(evento_4)
evento_5 = procesamiento(evento_5)
evento_6 = procesamiento(evento_6)
evento_7 = procesamiento(evento_7)
evento_8 = procesamiento(evento_8)
evento_9 = procesamiento(evento_9)

In [158]:
# Evaluo tipos de los datos
evento_1.dtypes, evento_2.dtypes, evento_3.dtypes, evento_4.dtypes, evento_5.dtypes, evento_6.dtypes, evento_7.dtypes, evento_8.dtypes, evento_9.dtypes

(Nombre                           object
 Apellido                         object
 Correo electr√≥nico               object
 Duraci√≥n                         object
 Hora a la que se uni√≥    datetime64[ns]
 Hora a la que sali√≥      datetime64[ns]
 NombreCompleto                   object
 duraci√≥n                          int32
 dtype: object,
 Nombre                           object
 Apellido                         object
 Correo electr√≥nico               object
 Duraci√≥n                         object
 Hora a la que se uni√≥    datetime64[ns]
 Hora a la que sali√≥      datetime64[ns]
 NombreCompleto                   object
 duraci√≥n                          int32
 dtype: object,
 Nombre                           object
 Apellido                         object
 Correo electr√≥nico               object
 Duraci√≥n                         object
 Hora a la que se uni√≥    datetime64[ns]
 Hora a la que sali√≥      datetime64[ns]
 NombreCompleto                   object
 duraci√≥n                          int32
 dtype: object,
 Nombre                           object
 Apellido                         object
 Correo electr√≥nico               object
 Duraci√≥n                         object
 Hora a la que se uni√≥    datetime64[ns]
 Hora a la que sali√≥      datetime64[ns]
 NombreCompleto                   object
 duraci√≥n                          int32
 dtype: object,
 Nombre                           object
 Apellido                         object
 Correo electr√≥nico               object
 Duraci√≥n                         object
 Hora a la que se uni√≥    datetime64[ns]
 Hora a la que sali√≥      datetime64[ns]
 NombreCompleto                   object
 duraci√≥n                          int32
 dtype: object,
 Nombre                           object
 Apellido                         object
 Correo electr√≥nico               object
 Duraci√≥n                         object
 Hora a la que se uni√≥    datetime64[ns]
 Hora a la que sali√≥      datetime64[ns]
 NombreCompleto                   object
 duraci√≥n                          int32
 dtype: object,
 Nombre                           object
 Apellido                         object
 Correo electr√≥nico               object
 Duraci√≥n                         object
 Hora a la que se uni√≥    datetime64[ns]
 Hora a la que sali√≥      datetime64[ns]
 NombreCompleto                   object
 duraci√≥n                          int32
 dtype: object,
 Nombre                           object
 Apellido                         object
 Correo electr√≥nico               object
 Duraci√≥n                         object
 Hora a la que se uni√≥    datetime64[ns]
 Hora a la que sali√≥      datetime64[ns]
 NombreCompleto                   object
 duraci√≥n                          int32
 dtype: object,
 Nombre                           object
 Apellido                         object
 Correo electr√≥nico               object
 Duraci√≥n                         object
 Hora a la que se uni√≥    datetime64[ns]
 Hora a la que sali√≥      datetime64[ns]
 NombreCompleto                   object
 duraci√≥n                          int32
 dtype: object)

In [159]:
# elimino columna de "Duraci√≥n" 
evento_1.drop(columns='Duraci√≥n', inplace=True)
evento_2.drop(columns='Duraci√≥n', inplace=True)
evento_3.drop(columns='Duraci√≥n', inplace=True)
evento_4.drop(columns='Duraci√≥n', inplace=True)
evento_5.drop(columns='Duraci√≥n', inplace=True)
evento_6.drop(columns='Duraci√≥n', inplace=True)
evento_7.drop(columns='Duraci√≥n', inplace=True)
evento_8.drop(columns='Duraci√≥n', inplace=True)
evento_9.drop(columns='Duraci√≥n', inplace=True)

In [160]:
# Eval√∫o dataframes de asistencias
evento_1.head()

,Nombre,Apellido,Correo electr√≥nico,Hora a la que se uni√≥,Hora a la que sali√≥,NombreCompleto,duraci√≥n
0,Natalia Alejandra,Africano Fino,natalia.africano@uptc.edu.co,2023-09-06 09:59:00,2023-09-06 11:56:00,Natalia Alejandra Africano Fino,117
1,Jose Arquimedes,ALBA CUPA,jose.alba@uptc.edu.co,2023-09-06 10:01:00,2023-09-06 12:06:00,Jose Arquimedes Alba Cupa,125
2,Yamid,Alonso,yamid.nino02@uptc.edu.co,2023-09-06 10:00:00,2023-09-06 12:06:00,Yamid Alonso,126
3,Daniel Andr√©s,√ÅLVAREZ DIAS,daniel.alvarez04@uptc.edu.co,2023-09-06 10:00:00,2023-09-06 11:50:00,Daniel Andr√©s √Ålvarez Dias,110
4,Gonzalez Molina,ANGEL ABDIAS,angel.gonzalez02@uptc.edu.co,2023-09-06 09:58:00,2023-09-06 12:08:00,Gonzalez Molina Angel Abdias,130

In [161]:
evento_2.head()

,Nombre,Apellido,Correo electr√≥nico,Hora a la que se uni√≥,Hora a la que sali√≥,NombreCompleto,duraci√≥n
0,Natalia Alejandra,Africano Fino,natalia.africano@uptc.edu.co,2023-09-06 09:56:00,2023-09-06 10:23:00,Natalia Alejandra Africano Fino,27
1,Daniel Andr√©s,√ÅLVAREZ DIAS,daniel.alvarez04@uptc.edu.co,2023-09-06 10:01:00,2023-09-06 12:04:00,Daniel Andr√©s √Ålvarez Dias,123
2,Gonzalez Molina,ANGEL ABDIAS,angel.gonzalez02@uptc.edu.co,2023-09-06 10:07:00,2023-09-06 10:32:00,Gonzalez Molina Angel Abdias,25
3,Juan Pablo,ARCHILA AMAYA,juan.archila04@uptc.edu.co,2023-09-06 10:10:00,2023-09-06 12:04:00,Juan Pablo Archila Amaya,114
4,Fabio Alonso,ARIAS ADARME,ingfaaa@gmail.com,2023-09-06 10:04:00,2023-09-06 12:04:00,Fabio Alonso Arias Adarme,120

In [162]:
evento_3.head()

,Nombre,Apellido,Correo electr√≥nico,Hora a la que se uni√≥,Hora a la que sali√≥,NombreCompleto,duraci√≥n
0,Jose Arquimedes,ALBA CUPA,jose.alba@uptc.edu.co,2023-09-06 10:16:00,2023-09-06 11:53:00,Jose Arquimedes Alba Cupa,97
1,Daniel Andr√©s,√ÅLVAREZ DIAS,daniel.alvarez04@uptc.edu.co,2023-09-06 10:01:00,2023-09-06 11:53:00,Daniel Andr√©s √Ålvarez Dias,112
2,Gonzalez Molina,ANGEL ABDIAS,angel.gonzalez02@uptc.edu.co,2023-09-06 10:17:00,2023-09-06 11:06:00,Gonzalez Molina Angel Abdias,49
3,Fabio Alonso,ARIAS ADARME,ingfaaa@gmail.com,2023-09-06 10:06:00,2023-09-06 11:54:00,Fabio Alonso Arias Adarme,108
4,Santiago Andres,ARIAS REYES,santiago.arias01@uptc.edu.co,2023-09-06 10:04:00,2023-09-06 11:53:00,Santiago Andres Arias Reyes,109

In [163]:
evento_4.head()

,Nombre,Apellido,Correo electr√≥nico,Hora a la que se uni√≥,Hora a la que sali√≥,NombreCompleto,duraci√≥n
0,Yamid Alonso,NaN,yamid.nino02@uptc.edu.co,2023-09-06 10:02:00,2023-09-06 11:12:00,Yamid Alonso,70
1,Gonzalez Molina,ANGEL ABDIAS,angel.gonzalez02@uptc.edu.co,2023-09-06 10:19:00,2023-09-06 11:12:00,Gonzalez Molina Angel Abdias,53
2,Juan Pablo,ARCHILA AMAYA,juan.archila04@uptc.edu.co,2023-09-06 10:10:00,2023-09-06 11:12:00,Juan Pablo Archila Amaya,62
3,Fabio Alonso,ARIAS ADARME,ingfaaa@gmail.com,2023-09-06 10:10:00,2023-09-06 11:12:00,Fabio Alonso Arias Adarme,62
4,Santiago Andres,ARIAS REYES,ingfaaa@gmail.com,2023-09-06 10:00:00,2023-09-06 11:12:00,Santiago Andres Arias Reyes,72

In [164]:
evento_5.head()

,Nombre,Apellido,Correo electr√≥nico,Hora a la que se uni√≥,Hora a la que sali√≥,NombreCompleto,duraci√≥n
0,Yamid Alonso,NaN,yamid.nino02@uptc.edu.co,2023-09-06 10:00:00,2023-09-06 11:56:00,Yamid Alonso,116
1,Jose Arquimedes,ALBA CUPA,jose.alba@uptc.edu.co,2023-09-06 10:03:00,2023-09-06 11:57:00,Jose Arquimedes Alba Cupa,114
2,Daniel Andr√©s,√ÅLVAREZ DIAS,daniel.alvarez04@uptc.edu.co,2023-09-06 10:10:00,2023-09-06 11:45:00,Daniel Andr√©s √Ålvarez Dias,95
3,Gonzalez Molina,ANGEL ABDIAS,angel.gonzalez02@uptc.edu.co,2023-09-06 09:58:00,2023-09-06 11:56:00,Gonzalez Molina Angel Abdias,118
4,Fabio Alonso,ARIAS ADARME,ingfaaa@gmail.com,2023-09-06 10:05:00,2023-09-06 11:57:00,Fabio Alonso Arias Adarme,112

In [165]:
evento_6.head()

,Nombre,Apellido,Correo electr√≥nico,Hora a la que se uni√≥,Hora a la que sali√≥,NombreCompleto,duraci√≥n
0,Yamid Alonso,NaN,yamid.nino02@uptc.edu.co,2023-09-06 10:00:00,2023-09-06 12:00:00,Yamid Alonso,120
1,Daniel Andr√©s,√ÅLVAREZ DIAS,daniel.alvarez04@uptc.edu.co,2023-09-06 10:33:00,2023-09-06 11:59:00,Daniel Andr√©s √Ålvarez Dias,86
2,Juan Pablo,ARCHILA AMAYA,juan.archila04@uptc.edu.co,2023-09-06 10:10:00,2023-09-06 11:56:00,Juan Pablo Archila Amaya,106
3,Santiago Andres,ARIAS REYES,santiago.arias01@uptc.edu.co,2023-09-06 09:56:00,2023-09-06 11:55:00,Santiago Andres Arias Reyes,119
4,Bermudez Beltran,ARLEY DANILO,arley.bermudez@uptc.edu.co,2023-09-06 10:01:00,2023-09-06 11:44:00,Bermudez Beltran Arley Danilo,103

In [166]:
evento_7.head()

,Nombre,Apellido,Correo electr√≥nico,Hora a la que se uni√≥,Hora a la que sali√≥,NombreCompleto,duraci√≥n
0,Yamid Alonso,NaN,yamid.nino02@uptc.edu.co,2023-09-06 10:05:00,2023-09-06 11:48:00,Yamid Alonso,103
1,Jose Arquimedes,ALBA CUPA,jose.alba@uptc.edu.co,2023-09-06 10:59:00,2023-09-06 11:47:00,Jose Arquimedes Alba Cupa,48
2,Daniel Andr√©s,√ÅLVAREZ DIAS,daniel.alvarez04@uptc.edu.co,2023-09-06 10:24:00,2023-09-06 11:16:00,Daniel Andr√©s √Ålvarez Dias,52
3,Gonzalez Molina,ANGEL ABDIAS,angel.gonzalez02@uptc.edu.co,2023-09-06 10:12:00,2023-09-06 11:47:00,Gonzalez Molina Angel Abdias,95
4,Juan Pablo,ARCHILA AMAYA,juan.archila04@uptc.edu.co,2023-09-06 10:15:00,2023-09-06 11:48:00,Juan Pablo Archila Amaya,93

In [167]:
evento_8.head()

,Nombre,Apellido,Correo electr√≥nico,Hora a la que se uni√≥,Hora a la que sali√≥,NombreCompleto,duraci√≥n
0,Yamid Alonso,NaN,yamid.nino02@uptc.edu.co,2023-09-06 10:00:00,2023-09-06 11:55:00,Yamid Alonso,115
1,Jose Arquimedes,ALBA CUPA,jose.alba@uptc.edu.co,2023-09-06 11:09:00,2023-09-06 11:56:00,Jose Arquimedes Alba Cupa,47
2,Juan Pablo,ARCHILA AMAYA,juan.archila04@uptc.edu.co,2023-09-06 10:35:00,2023-09-06 11:27:00,Juan Pablo Archila Amaya,52
3,Johana,Avila,johana.avila@uptc.edu.co,2023-09-06 10:07:00,2023-09-06 11:51:00,Johana Avila,104
4,Julian,Ayala,julian.ayala@uptc.edu.co,2023-09-06 10:08:00,2023-09-06 11:51:00,Julian Ayala,103

In [168]:
evento_9.head()

,Nombre,Apellido,Correo electr√≥nico,Hora a la que se uni√≥,Hora a la que sali√≥,NombreCompleto,duraci√≥n
0,Juan Pablo,ARCHILA AMAYA,juan.archila04@uptc.edu.co,2023-09-06 10:51:00,2023-09-06 11:26:00,Juan Pablo Archila Amaya,35
1,Anderson Daniel,BARRETO SIERRA,anderson.barreto01@uptc.edu.co,2023-09-06 11:18:00,2023-09-06 11:18:00,Anderson Daniel Barreto Sierra,0
2,Cristian,Becerra,cristian.becerra08@uptc.edu.co,2023-09-06 11:05:00,2023-09-06 11:26:00,Cristian Becerra,21
3,Juan,Cepeda06,juan.cepeda06@uptc.edu.co,2023-09-06 11:26:00,2023-09-06 11:26:00,Juan Cepeda06,0
4,Cristian,Cespedes,cristian.cespedes@uptc.edu.co,2023-09-06 10:04:00,2023-09-06 11:26:00,Cristian Cespedes,82

In [76]:
registro_datos.head()

,Nombre,Correo institucional (@uptc.edu.co),Programa Acad√©mico,Asignatura,estado,Primer Nombre,Primer Apellido
0,Anderson Daniel Barreto Sierra,anderson.barreto01@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,Electiva III,Validados,Anderson,Barreto
1,Andr√©s Felipe Escobar Diaz,andres.escobar01@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,Electiva III,Validados,Andr√©s,Escobar
2,Andr√©s Leonardo Maldonado S√°nchez,andres.maldonado02@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n,Andr√©s,Maldonado
3,Andr√©s David Reyes Rojas,andres.reyes03@uptc.edu.co,Ingenier√≠a Electr√≥nica,Comunicaciones II,Validados,Andr√©s,Reyes
4,Andr√©s Camilo Silva Landinez,andres.silva07@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,NaN,Falta informaci√≥n,Andr√©s,Silva

In [169]:
registro_datos.loc[registro_datos["Correo institucional (@uptc.edu.co)"]=="jhon.camargo01@uptc.edu.co"]
registro_datos.drop(63,inplace=True)

In [170]:
registro_datos.loc[registro_datos["Correo institucional (@uptc.edu.co)"]=="jhon.camargo01@uptc.edu.co"]

,Nombre,Correo institucional (@uptc.edu.co),Programa Acad√©mico,Asignatura,estado,Primer Nombre,Primer Apellido
64,Jhon Fredy Camargo Fonseca,jhon.camargo01@uptc.edu.co,Ingenier√≠a de Sistemas y Computaci√≥n,Comunicaciones,Validados,Jhon,Camargo

In [171]:
# Se usara una llave en minusculas -> correo
registro_datos["Correo institucional (@uptc.edu.co)"] = registro_datos["Correo institucional (@uptc.edu.co)"].str.lower()

In [172]:
solo_letras = re.compile(r'[^a-zA-Z√°√©√≠√≥√∫√Å√â√ç√ì√ö√±√ë ]+')
def limpieza_final(dataframe):
    dataframe["Correo electr√≥nico"] = dataframe["Correo electr√≥nico"].str.lower()
    dataframe["Nombre"] = dataframe["Nombre"].apply(lambda x: solo_letras.sub('',str(x)).title())
    dataframe["Apellido"] = dataframe["Apellido"].apply(lambda x: solo_letras.sub('',str(x)).title())

In [173]:
limpieza_final(evento_1)
limpieza_final(evento_2)
limpieza_final(evento_3)
limpieza_final(evento_4)
limpieza_final(evento_5)
limpieza_final(evento_6)
limpieza_final(evento_7)
limpieza_final(evento_8)
limpieza_final(evento_9)

In [175]:
evento_4.head()

,Nombre,Apellido,Correo electr√≥nico,Hora a la que se uni√≥,Hora a la que sali√≥,NombreCompleto,duraci√≥n
0,Yamid Alonso,Nan,yamid.nino02@uptc.edu.co,2023-09-06 10:02:00,2023-09-06 11:12:00,Yamid Alonso,70
1,Gonzalez Molina,Angel Abdias,angel.gonzalez02@uptc.edu.co,2023-09-06 10:19:00,2023-09-06 11:12:00,Gonzalez Molina Angel Abdias,53
2,Juan Pablo,Archila Amaya,juan.archila04@uptc.edu.co,2023-09-06 10:10:00,2023-09-06 11:12:00,Juan Pablo Archila Amaya,62
3,Fabio Alonso,Arias Adarme,ingfaaa@gmail.com,2023-09-06 10:10:00,2023-09-06 11:12:00,Fabio Alonso Arias Adarme,62
4,Santiago Andres,Arias Reyes,ingfaaa@gmail.com,2023-09-06 10:00:00,2023-09-06 11:12:00,Santiago Andres Arias Reyes,72

In [176]:
# Se revisan valores nulos en asistencia a eventos
evento_1.isna().sum(),evento_2.isna().sum(),evento_3.isna().sum(),evento_4.isna().sum()

(Nombre                   0
 Apellido                 0
 Correo electr√≥nico       0
 Hora a la que se uni√≥    0
 Hora a la que sali√≥      0
 NombreCompleto           0
 duraci√≥n                 0
 dtype: int64,
 Nombre                   0
 Apellido                 0
 Correo electr√≥nico       1
 Hora a la que se uni√≥    0
 Hora a la que sali√≥      0
 NombreCompleto           0
 duraci√≥n                 0
 dtype: int64,
 Nombre                   0
 Apellido                 0
 Correo electr√≥nico       0
 Hora a la que se uni√≥    0
 Hora a la que sali√≥      0
 NombreCompleto           0
 duraci√≥n                 0
 dtype: int64,
 Nombre                   0
 Apellido                 0
 Correo electr√≥nico       0
 Hora a la que se uni√≥    0
 Hora a la que sali√≥      0
 NombreCompleto           0
 duraci√≥n                 0
 dtype: int64)

In [177]:
evento_5.isna().sum(), evento_6.isna().sum(), evento_7.isna().sum(), evento_8.isna().sum(), evento_9.isna().sum()

(Nombre                   0
 Apellido                 0
 Correo electr√≥nico       0
 Hora a la que se uni√≥    0
 Hora a la que sali√≥      0
 NombreCompleto           0
 duraci√≥n                 0
 dtype: int64,
 Nombre                   0
 Apellido                 0
 Correo electr√≥nico       2
 Hora a la que se uni√≥    0
 Hora a la que sali√≥      0
 NombreCompleto           0
 duraci√≥n                 0
 dtype: int64,
 Nombre                   0
 Apellido                 0
 Correo electr√≥nico       0
 Hora a la que se uni√≥    0
 Hora a la que sali√≥      0
 NombreCompleto           0
 duraci√≥n                 0
 dtype: int64,
 Nombre                   0
 Apellido                 0
 Correo electr√≥nico       0
 Hora a la que se uni√≥    0
 Hora a la que sali√≥      0
 NombreCompleto           0
 duraci√≥n                 0
 dtype: int64,
 Nombre                   0
 Apellido                 0
 Correo electr√≥nico       0
 Hora a la que se uni√≥    0
 Hora a la que sali√≥      0
 NombreCompleto           0
 duraci√≥n                 0
 dtype: int64)

## Se procede a generar archivos csv con los dataframes ya limpios

In [178]:
registro_datos.to_csv('../clean_data/registro_usuarios.csv',index=False)
evento_1.to_csv('../clean_data/evento_1.csv', index=False)
evento_2.to_csv('../clean_data/evento_2.csv', index=False)
evento_3.to_csv('../clean_data/evento_3.csv', index=False)
evento_4.to_csv('../clean_data/evento_4.csv', index=False)
evento_5.to_csv('../clean_data/evento_5.csv', index=False)
evento_6.to_csv('../clean_data/evento_6.csv', index=False)
evento_7.to_csv('../clean_data/evento_7.csv', index=False)
evento_8.to_csv('../clean_data/evento_8.csv', index=False)
evento_9.to_csv('../clean_data/evento_9.csv', index=False)